USE [master]
GO
/****** Object:  Database [gamesolver-db]    Script Date: 2016-08-07 10:30:26 AM ******/
CREATE DATABASE [gamesolver-db]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gamesolver-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gamesolver-db]
GO
USE [gamesolver-db]
GO
/****** Object:  Table [dbo].[Boards]    Script Date: 2016-08-07 10:30:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boards](
	[Board] [char](81) NOT NULL,
	[Processed] [bit] NOT NULL,
	[isValid] [bit] NOT NULL,
	[isSolution] [bit] NOT NULL,
	[hasSolution] [bit] NOT NULL,
	[SolutionsCount] [tinyint] NOT NULL,
	[freeSpaceCount] [tinyint] NOT NULL,
	[timeAdded] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Board] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Solutions]    Script Date: 2016-08-07 10:30:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solutions](
	[Combination] [char](162) NOT NULL,
	[endBoard] [char](81) NULL,
	[startBoard] [char](81) NULL,
	[timeAdded] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Combination] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultProcessed]  DEFAULT ((0)) FOR [Processed]
GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultIsValid]  DEFAULT ((0)) FOR [isValid]
GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultIsSolution]  DEFAULT ((0)) FOR [isSolution]
GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultHasSolution]  DEFAULT ((0)) FOR [hasSolution]
GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultSolutionsCount]  DEFAULT ((0)) FOR [SolutionsCount]
GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultFreeSpaceCount]  DEFAULT ((0)) FOR [freeSpaceCount]
GO
ALTER TABLE [dbo].[Boards] ADD  CONSTRAINT [DefaultTime]  DEFAULT (getdate()) FOR [timeAdded]
GO
ALTER TABLE [dbo].[Solutions] ADD  CONSTRAINT [DefaultTimeSolutions]  DEFAULT (getdate()) FOR [timeAdded]
GO
ALTER TABLE [dbo].[Solutions]  WITH CHECK ADD  CONSTRAINT [fk_startBoard] FOREIGN KEY([startBoard])
REFERENCES [dbo].[Boards] ([Board])
GO
ALTER TABLE [dbo].[Solutions] CHECK CONSTRAINT [fk_startBoard]
GO
USE [master]
GO
